@font-face {
    font-family: "EB Garamond";
    src: url(fonts/EBGaramond-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "EB Garamond";
    src: url(fonts/EBGaramond-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "EB Garamond";
    src: url(fonts/EBGaramond-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "EB Garamond";
    src: url(fonts/EBGaramond-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Garamond-Math";
    src: url(fonts/Garamond-Math.otf);
}

span.font {
	zoom: 85%;
}

body {
    margin: 1in;
    font-family: "EB Garamond", "Garamond-Math";
}

@page {
    margin: 1in;
}

.pagecenter {
    margin-top: 5em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    text-align: center;
}

sup {
    vertical-align: super;
    line-height: 1ex;
    font-size: 80%
}

sub {
    vertical-align: sub;
    line-height: 1ex;
    font-size: 80%
}

span.small {
    font-size: 80%;
}

.mid {
    vertical-align: middle;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

.cover {
    margin-bottom: 0em;
    margin-top: 0em;
    text-align: center;
}

.title {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 250%;
    text-align: center;
    text-indent: 0em;
}

.title1 {
    margin-top: 0em;
    margin-bottom: 10em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 180%;
    text-align: center;
    text-indent: 0em;
}

.title2 {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 130%;
    text-align: center;
    text-indent: 0em;
}

.title3 {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 110%;
    text-align: center;
    text-indent: 0em;
}

.title4 {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 110%;
    text-align: center;
    text-indent: 0em;
}

.copyt {
    margin-top: 6em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 80%;
    text-align: center;
    text-indent: 0em;
}

.copy {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
    margin-right: 0em;
    font-size: 80%;
    text-align: left;
    text-indent: -1em;
}

.copya {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 80%;
    text-align: left;
    text-indent: 0em;
}

.copy-in {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 80%;
    text-align: justify;
    text-indent: 1em;
}

.copy1 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 80%;
    text-align: center;
    text-indent: 0em;
}

.copy2 {
    margin-top: 2em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 80%;
    text-align: center;
    text-indent: 0em;
}

.copy2a {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 80%;
    text-align: center;
    text-indent: 0em;
}

.fm-title {
    margin-top: 4em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 130%;
    text-align: center;
    text-indent: 0em;
    margin-left: 0em;
}

.line {
    margin-bottom: 2.5em;
    margin-top: 0.3em;
    text-align: center;
}

.line1 {
    border-bottom: 3px double #000000;
    padding-left: 9em;
    padding-right: 9em;
}

.right {
    margin-top: 0.5em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: right;
    text-indent: 0em;
}

.tocc {
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 0em;
    font-size: 100%;
    text-align: center;
    text-indent: 0em;
    margin-left: 0em;
}

.toc {
    margin-top: 0.5em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 90%;
    text-align: justify;
    text-indent: 0em;
    margin-left: 0em;
}

.toc1 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-right: 0em;
    font-size: 90%;
    text-align: justify;
    text-indent: 0em;
    margin-left: 1.25em;
}

.ch-num {
    margin-top: 3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 130%;
    text-align: center;
    text-indent: 0em;
    font-weight: bold;
}

.linec {
    margin-bottom: 1em;
    margin-top: 0em;
    text-align: center;
}

.line1c {
    border-bottom: 1px solid #000000;
    padding-left: 4em;
    padding-right: 4em;
}

.ch-title {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 120%;
    text-align: center;
    text-indent: 0em;
}

.alpha-ta {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: -1.65em;
    margin-left: 1.65em;
}

.alpha-tat {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: -1.65em;
    margin-left: 1.65em;
}

.indentk {
    margin-top: 0.5em;
    margin-bottom: 0em;
    margin-right: 1em;
    font-size: 100%;
    text-align: justify;
    text-indent: 1.5em;
    margin-left: 1em;
}

.tabk {
    margin-top: 1em;
    margin-bottom: 1em;
}

.indentt1 {
    margin-top: 0.5em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: 1.5em;
    margin-left: 0em;
}

.alpha-in {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: 1.5em;
    margin-left: 2.75em;
}

.pro1 {
    margin-top: 1em;
    margin-bottom: 0.1em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: -1.17em;
    margin-left: 1.17em;
}

.tabp {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
}

.indent {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: 1.5em;
    margin-left: 0em;
}

.indentt {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: 1.5em;
    margin-left: 0em;
}

.noindent {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: 0em;
    margin-left: 0em;
}

.noindentt {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: 0em;
    margin-left: 0em;
}

.h1 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-right: 0em;
    font-size: 90%;
    text-align: center;
    text-indent: 0em;
    margin-left: 0em;
}

.fn {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 90%;
    text-align: justify;
    text-indent: 1.5em;
    margin-left: 0em;
}

.alpha {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: -1.65em;
    margin-left: 2.75em;
}

.padding {
    margin-left: 0.5em;
}

.alphat {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: -1.65em;
    margin-left: 2.75em;
}

.table-left {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: left;
    text-indent: 0em;
    margin-left: 0em;
}

.table-right {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0.5em;
    font-size: 100%;
    text-align: right;
    text-indent: 0em;
    margin-left: 0em;
}

.tab {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
}

div.pro {
    font-size: 90%;
}

.bib {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 90%;
    text-align: justify;
    text-indent: 0em;
    margin-left: 0em;
}

.bib1 {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 90%;
    text-align: justify;
    text-indent: -1.65em;
    margin-left: 2.5em;
}

.index {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 90%;
    text-align: left;
    text-indent: -1.5em;
    margin-left: 1.5em;
}

.indext {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 90%;
    text-align: left;
    text-indent: -1.5em;
    margin-left: 1.5em;
}

.index1 {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 90%;
    text-align: left;
    text-indent: -1.5em;
    margin-left: 3em;
}

.index2 {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 90%;
    text-align: left;
    text-indent: -1.5em;
    margin-left: 4.5em;
}

.image {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.alpha-no {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0em;
    font-size: 100%;
    text-align: justify;
    text-indent: 0em;
    margin-left: 2.75em;
}

td {
    font-size: 90%;
}